name: "Build React App"

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Setup Node.js environment
        uses: actions/setup-node@v3
        with:
          node-version: '16'

      - name: Install dependencies
        run: |
          cd ./packages/app-web/
          npm install # or yarn install, depending on your package manager

      - name: Build application
        run: |
          cd /front-end/new-ui/android
          npm run build # or yarn build

      - name: Upload build artifact
        uses: actions/upload-artifact@v3
        with:
          name: react-build
          path: front-end/new-ui/android/build/
          retention-days: 3
